<mat-card>
    <h1>Postup kurzem {{pointsShow(calculatePoints())}}</h1>
    <ul>
        <li *ngFor="let lesson of lessons"> 
            <h3><mat-icon>{{ getBlockIcon(progressData[lesson])}}</mat-icon> <a [routerLink]="isLessonUnlocked(lesson)?'/kurz/'+lesson:null">{{lesson}}</a> {{pointsShow(calculatePoints(lesson))}}</h3>
            <ul>
                <li *ngFor="let section of sections[lesson]">
                    <h3><mat-icon>{{ getBlockIcon(progressData[lesson].sections[section])}}</mat-icon> <a [routerLink]="isSectionUnlocked(lesson, section)?'/kurz/'+lesson+'/'+section:null">{{section}}</a> {{pointsShow(calculatePoints(lesson, section))}}</h3>
                    <ul>
                        <li *ngFor="let quiz of _.keys(progressData[lesson].sections[section].quizResults)">
                            <h3><mat-icon>{{ getQuizIcon(progressData[lesson].sections[section].quizResults[quiz])}}</mat-icon> {{_.toInteger(quiz) + 1}} {{pointsShow(calculatePoints(lesson, section, quiz))}}</h3>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</mat-card>
