<mat-card class="contentCard">
  <mat-card-header>
    <mat-card-title><h1>{{titleCard}}</h1></mat-card-title>
    <mat-card-subtitle>{{subTitleCard}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-md-image [src]="angularImage">
  <img mat-card-md-image [src]="angularImage">
  <img mat-card-md-image [src]="angularImage">
  
  <mat-card-content>  
      <br>
      <ul>
        <li type=disc>dozvíte se spoustu zajímavostí</li>
        <li type=disc>vyzkoušíte si něco nového</li>
        <li type=disc>zjistíte něco o nástrojích, které běžně používáte</li>
        <li type=disc>poznáte nové nástroje, které možná používat začnete</li>
        <li type=disc>zjistíte, jestli by vás bavilo počítačovou lingvistiku studovat</li>
        <li type=disc>pokud se rozhodnete u nás studovat, budete mít náskok</li>
        <li type=disc>to vše a mnoho dalšího zcela zdarma</li>
      </ul>
    <p>Tak hurá do toho.</p>
  </mat-card-content>


  <mat-card-actions class="buttonCard">
    <a mat-raised-button routerLink="/prihlaseni"><h3>Zapsat se do kurzu</h3></a>
  </mat-card-actions>
</mat-card>