.contentCard {
  width: 890px;
  height: auto;
  position: absolute;
  padding: 24px;
  margin: auto auto 0;
  left: 0;
  right: 0;
  z-index: 5;
}


.contentCard img {
  margin: 0 33px;
  max-width: 210px;
  max-height: 250px;
}

.buttonCard {
  display: grid;
  margin: 0;
}

.buttonCard a {
  text-decoration: none;

  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1024px) {

  .contentCard {
      width: 100%;
      height: auto;
  }

  .contentCard img {
  margin: 0 10px;
  max-width: 30%;
  max-height: 80%;
  }

}