<div id="content">
    <h2 class="center">Lekce</h2>
    <mat-grid-list cols="5" rowHeight="60px">
        <mat-grid-tile *ngFor="let lesson of lessons" [colspan]="lesson.colspan" [rowspan]="lesson.rowspan" [class.disabled]="!isUnlocked(lesson.id)">
            <button mat-raised-button [color]="isUnlocked(lesson.id) && !isFinished(lesson.id) ? 'primary' : 'accent'"  [routerLink]="[isUnlocked(lesson.id)? '/kurz/'+lesson.id : '/kurz']">{{lesson.label}}</button>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-card>
        <h1>O kurzu</h1>
        <p>Abyste se mohli stát počítačovými lingvisty, potřebujete získat alespoň částečný vhled do tří různých oblastí – lingvistiky (jazykovědy), 
            informatiky/matematiky a samotné počítačové lingvistiky. V tomto kurzu se vám v rámci jednotlivých lekcí pokusíme předat některé poznatky ze všech tří zmíněných oblastí, díky nimž získáte alespoň základní souvislosti a přehled o tom, co počítačová lingvistika obnáší a s čím byste se během studia tohoto oboru mohli setkat. Zároveň by vám měl usnadnit i případné začátky studia. Kurz však není určen pouze potenciálním uchazečům o studium. Je tu pro všechny, kteří si rádi rozšiřují obzory a zkoušejí něco nového. Tak směle do toho.
        </p>
    
        <p>Jednotlivé lekce se vám budou postupně odemykat, a to vždy po úspěšném absolvování lekcí předcházejících. Každá z nich je rozdělena na několik menších sekcí, které odpovídají tematickým blokům. Každá sekce obsahuje studijní materiál a je zakončena praktickou částí tvořenou kvízovými otázkami nebo úkoly. Jednotlivé sekce se budou opět odemykat postupně, podobně jako v případě celých lekcí. Plnění lekcí ani sekcí není nijak časově omezeno, depřejte si tedy tolik času, kolik budete potřebovat. Všechny odemčené materiály vám už zůstanou přístupné. 
            
        </p>
        
    </mat-card>
</div>

