<label id="example-radio-group-label" [innerHTML]="data.question"></label>

<div cdkDropListGroup>
    <div class="drag-drop-container" *ngFor="let option of data.optionsFixed;let i = index">
        <div class="title">{{option}}</div>

        <div cdkDropList [cdkDropListData]="answer[i]" class="drag-drop-list" (cdkDropListDropped)="drop($event, i)">
            <div class="drag-drop-box" *ngFor="let ans of answer[i]" cdkDrag>{{ans}}</div>
        </div>
    </div>
    <div class="drag-drop-container blocky">
        <h4>Možnosti</h4>
        <div cdkDropList [cdkDropListData]="optionsPool" class="drag-drop-list" (cdkDropListDropped)="drop($event)">
            <span class="drag-drop-box" *ngFor="let option of optionsPool" cdkDrag>{{option}}</span>
        </div>
    </div>
</div>
<button mat-raised-button color="primary" (click)="submit()" [disabled]="isAnswered">Odeslat odpověď</button>