<label id="example-radio-group-label" [innerHTML]="data.question"></label><br/>
<input type="text" [(ngModel)]="majkaWord"/><button [disabled]="isAnswered" mat-raised-button color="primary" (click)="loadMajka()">MAJKA</button>
<button mat-raised-button color="primary" (click)="submit()" [disabled]="isAnswered || !answer">Odeslat odpověď</button>

<mat-radio-group *ngIf="majkaOptions" [disabled]="isAnswered" aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="answer">
  <mat-radio-button color="primary" class="example-radio-button" *ngFor="let option of majkaOptions" [value]="option.Lemma+':'+option.Tag">
   <span [ngClass]="getOptionColor(option)"> {{option.Lemma}} {{option.Tag}} </span>
  </mat-radio-button>
</mat-radio-group>
<b>{{getCorrectAnswer()}}</b><br/>
