<div class="contentCard">
    <mat-card>
        <h1>Počítačová lingvistika</h1>
        <p>Počítačová lingvistika představuje obor, který se nachází na pomezí lingvistiky a informatiky. Využívá poznatků z obou těchto oblastí a vzájemně je kombinuje za účelem vytvoření užitečných počítačových nástrojů či programů, které pracují s přirozeným jazykem (tj. běžným jazykem lidí, nikoliv počítačů). Výsledkem tohoto propojení jsou pak například korektory v textových editorech, našeptávače ve vyhledávačích, prediktivní psaní (našeptávače při psaní např. na mobilním telefonu), automatické překladače, diktovací systémy, nástroje pro analýzu či syntézu řeči (převod textu na řeč nebo řeči na text) a mnoho dalšího.</p>
        <br>        

    </mat-card>
</div>

<br /><br /><br />

<app-card-block></app-card-block>
<div class="background-slant"></div>

<div class="contentCard">
    <mat-card>
        <h1>Kurz </h1>
        <p>Online kurz počítačové lingvistiky, který můžete absolvovat na této stránce, by vám měl poskytnout vhled do oblasti počítačové lingvistiky a ukázat vám, čím se tento obor zabývá. Postupně prochází čtyřmi základními jazykovými rovinami a poskytuje tak lingvistické pozadí, zároveň se však zaměřuje také na potřebné informatické nebo matematické pozadí a ukazuje i konkrétní nástroje a aplikace počítačové lingvistiky. Nejedná se však o kompletní a detailní představení všeho, s čím se v souvislosti počítačovou lingvistikou, lingvistikou obecně nebo informatikou či matematikou můžete setkat. Kurz je spíše jakýmsi průvodcem, který vám ukáže některá tajná zákoutí, o kterých byste možná jinak neměli ani tušení. Je pak už jen na vás, zda budete chtít své znalosti dále prohlubovat, ať už studiem Počítačové lingvistiky, nebo jakkoliv jinak.</p>
    </mat-card>
</div>

<div class="background">
    <img [src]="fullImagePath">
  </div>

<app-third-block></app-third-block>


<button mat-raised-button class="mat-raised mat-primary" (click)="onToTop()">Nahoru</button>
