<div class="contentCard">
    <mat-card>
        <h1>Počítačová lingvistika</h1>
        <p>Počítačová lingvistika představuje obor, který se nachází na pomezí lingvistiky a informatiky. Využívá poznatků z obou těchto oblastí a vzájemně je kombinuje za účelem vytvoření užitečných počítačových nástrojů či programů, které pracují s přirozeným jazykem (tj. běžným jazykem lidí, nikoliv počítačů). Výsledkem tohoto propojení jsou pak například korektory v textových editorech, našeptávače ve vyhledávačích, prediktivní psaní (našeptávače při psaní např. na mobilním telefonu), automatické překladače, diktovací systémy, nástroje pro analýzu či syntézu řeči (převod textu na řeč nebo řeči na text) a mnoho dalšího.</p>
        <br>
        <h4>Chcete se dozvědět víc? <a mat-raised-button color="primary" routerLink="/kurz">Vyzkoušejte si náš kurz</a></h4>
        

    </mat-card>
</div>

<br /><br /><br />

<app-card-block></app-card-block>
<div class="background-slant"></div>

<div class="contentCard">
    <mat-card>
        <h1>Kurz </h1>
        <p></p>
    </mat-card>
</div>

<div class="background">
    <img [src]="fullImagePath">
  </div>

<app-third-block></app-third-block>


<button mat-raised-button class="mat-raised mat-primary" (click)="onToTop()">Nahoru</button>
