<div class="contentCard">
    <mat-card>
        <h1>Starter kit</h1>
        <p>Angular 8 | Material Design | Firebase (OAuth authentication and NoSQL database)</p>
    </mat-card>
</div>

<br /><br /><br />

<app-card-block></app-card-block>
<div class="background-slant"></div>

<div class="contentCard">
    <mat-card>
        <h1>Authentication and Database</h1>
        <p>Provided by Firebase</p>
    </mat-card>
</div>

<div class="background">
    <img [src]="fullImagePath">
  </div>

<app-third-block></app-third-block>


<button mat-raised-button class="mat-raised mat-primary" (click)="onToTop()">Top</button>
