/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/deeppurple-amber';
@import './assets/css/plin-theme.scss';
body {
    background-color: #f7f7f7;
}

a {
    color: #D3312F;
}

a:hover {
    color: #455A64;
}
app-multifill ul {
    font-family: monospace;
    label {
        font-family: Roboto, "Helvetica Neue", sans-serif;;
    }
    input {
        font-family: Roboto, "Helvetica Neue", sans-serif;;
    }
}
.body {
    padding-top: 56px;
    min-height:100vh;
    padding-bottom: 56px;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.float-bottom mat-toolbar {
    margin-top: -56px;
}

ul {
    list-style-type:none;
}

input.multifill {
    border: #c7254e 1px solid;
}
input.incorrect.multifill {
    border-color: red;
    border-width: 2px;
}
input.incorrect.multifill ~ label {
    color: black;
    font-style: italic;
    margin-left: 3px;
    margin-right: 3px;
}
input.correct.multifill {
    border-color: green;
    border-width: 2px;
}

code {
    padding: 4px 4px;
    white-space: pre;

    input {
        border: #c7254e 1px solid;
    }
    input.incorrect {
        border-color: red;
        border-width: 2px;
    }
    input.incorrect ~ label {
        color: black;
        font-style: italic;
        margin-left: 3px;
        margin-right: 3px;
    }
    input.correct {
        border-color: green;
        border-width: 2px;
    }
}

code.multiline {
    display: block;
}

.carousel-indicators.ng-star-inserted {
    margin-left: 0px;
    width: auto;
}

.disabled-indicators .carousel-indicators.ng-star-inserted {
    pointer-events: none;
}

.carousel-indicators.ng-star-inserted {
    bottom: 50px !important;
}

.example-radio-button label{
    font-weight: 500;
}

.center {
    text-align: center;
}

/* Tablet format and lower */
@media only screen and (max-width: 1024px) {

}

/* Mobile format and lower */
@media only screen and (max-width: 768px) {

}

/* Mobile format landscape (wide) */
@media only screen and (min-width: 320px) and (max-width: 480px) {

}

/* Mobile format portrait (small) */
@media only screen and (max-width: 320px) {

}

app-corpus .mat-grid-tile figure {
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: left !important;
}

