<!-- Header -->
<mat-toolbar color="primary">

  <img [src]="logo">
  <span><a href="/">PLINEK</a></span>

  <!-- Sidenav activate -->
  <button mat-button routerLink="/uvod">
    <mat-icon class="home">home</mat-icon>
    <span>Úvod</span>
  </button>

  <button mat-button routerLink="/kurz">
    <mat-icon class="course">school</mat-icon>
    <span>Kurz</span>
  </button>

  <button *ngIf="authService.isAuthenticated()" mat-button routerLink="/postup-kurzem">
    <mat-icon class="timeline">timeline</mat-icon>
    <span>Postup kurzem</span>
  </button>

  <button mat-button routerLink="/o-nas">
    <mat-icon class="about">language</mat-icon>
    <span>O nás</span>
  </button>

  <!-- Menu -->
  <span class="spacer"></span>

  <span class="spacer-light"></span>

  <div *ngIf="!authService.isAuthenticated(); else loggedin">
    <button type="button" routerLink="/prihlaseni" mat-icon-button>
      <mat-icon>lock_open</mat-icon>
    </button>
  </div>


  <ng-template #loggedin>
    <h4>Vítejte</h4>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu" >
      <a
        mat-menu-item
        [routerLink]="'/profil'">
        <mat-icon class="profile">face</mat-icon>
        <span>Profil</span>
      </a>

      <a
        mat-menu-item
        routerLink="/nastaveni">
        <mat-icon class="settings">settings</mat-icon>
        <span>Nastavení</span>
      </a>

      <a mat-menu-item (click)="onLogout()">
        <mat-icon class="logout">lock_outline</mat-icon>
        <span>Odhlásit</span>
      </a>
    </mat-menu>

  </ng-template>
</mat-toolbar>
